doctype html
html
  head
    title= "Cinema1"
    style
       include ../public/stylesheets/style.css
  body
    #container
      #header
        h1 CINEMA 5000
      #text
        p Welcome to Cinema 5000. Please select the film you want to see today.
        
    
