doctype true
html(xmlns='http://www.w3.org/1999/xhtml', lang='es', xml:lang='es')
  head
    title Cinema 5000
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    script(type='text/javascript', src='javascript/jquery-2.1.4.js')
    script(type='text/javascript', src='javascript/script.js')
  body
    #container
      #room
      #link
        a(href='#', onclick='$(".selected").addClass("confirmed")') Confirmar
